@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body{
    @apply bg-bg transition-colors duration-700 overflow-x-hidden antialiased
}

:root {
    --viewport-minus-header-plus-footer: calc(100vh - 20rem);
    --color-main: theme(colors.blue.900);
    --color-primary: theme(colors.slate.200);
    --color-secondary: theme(colors.slate.300);
    --color-bg : theme(colors.neutral.100);
    --color-indigo: theme(colors.indigo.200);
    --color-excellent: theme(colors.green.400);
    --color-good: theme(colors.yellow.500);
    --color-average: theme(colors.orange.400);
    --color-poor: theme(colors.red.700);

}

.dark {
  --color-bg : theme(colors.slate.400);
  --color-indigo: theme(colors.indigo.300);
}


::-webkit-scrollbar {
    width: 1.25vw;
    }
    
    @media (min-width: 770px) {
        ::-webkit-scrollbar {
          width: .6vw;
        }
      }
    
    ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 15px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    }
    
    ::-webkit-scrollbar-track {
    background-color: transparent; 
    }
    
  html {
    scroll-behavior: smooth;
    overflow-x: hidden;
  }

}